/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
    font-family: calibri;
}

.container {
    padding: 1rem;
    color: #fff;
    font-size: 3rem;   
    display: grid; 
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    gap: 0.5rem;
    /* grid-auto-rows: 200px; */
}

header {
    background-color: rgb(29, 29, 32);   
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1 / 3; /* MARCAÇÃO IDEAL */
    /* Quando não for claro qual a última linha, pode ser usado 1 / -1 */
}

main {
    background-color: hsl(318, 61.80%, 50.80%);  
     grid-column: 1 / 2;
}

aside {
    background-color: hsl(318, 88.80%, 41.00%);  
    grid-column: 2 / -1;
}

footer {
    background-color: hsl(224, 87%, 37%);   
     grid-column: 1 / -1;
}

