:root {
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);

    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: var(--color-grey-900);
}

.container {
    width: 100%;
    max-width: 400px;
    min-height: 500px;
    margin: 60px auto; 
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-grey-800);

    align-content: center;
    text-align: center;
    color: var(--color-white);
}

.icon {
    width: 150px;
    border-radius: 100%;
}

.infos {
    margin: 20px;
}

.container h2 {
    font-weight: 400;
    margin-bottom: 10px;
}

.user-location {
    color: var(--color-green);
}   

.bio{
    font-weight: bold;
    margin-bottom: 20px;
}

.container a {
    color: var(--color-white);
    text-decoration: none;
    margin-bottom: 20px ;
    padding: 10px;
    width: 350px;
    display: inline-block;
    border-radius: 6px;
    background-color: var(--color-grey-700);
    transition: .5s;
}

.container a:hover {
    background-color: var(--color-green);
    color: var(--color-grey-700);
}